  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
				<!-- <span><a class="navbar-brand navbarTeamName" href="teams.ejs">BSafes</a></span> -->
				<span><a class="navbar-brand navbarTeamName" href="javascript:navigateView('/teams/')">BSafes</a></span>
      </div>
	  <%if(locals.user) {%>	
			<div class="navbar-header pull-right">
  			<div class="dropdown">
					<a class="btn btn-link dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
						<div class="memberIdentityContainer">
							<span class="memberBadge"><%=locals.user.initial%></span>
					  	<span class="messageIndicator label label-danger hidden">M</span>
							<span class="caret"></span>
						</div>
    			</a>
    			<ul class="pull-right dropdown-menu">
						<li class="personalLinkBackground"><a href="/safe/"><span class="blackText fontWeightBold"><%=locals.user.displayName%></span></a></li>
						<li><a href="teams.ejs">Teams</a></li>
						<li><a href="/managedMembers/">Manged Members</a></li>
						<li><a href="#" class="lockBSafes">Lock</a></li>
						<li><a href="#" class="signOut">Sign out</a></li>
    			</ul>
					<p class='loginUserId hidden'><%=locals.user.id%></p>
					<p class='loginUserName hidden'><%=locals.user.displayName%></p>
					<p class='loginUserPhoto hidden'><%=locals.user.photo%></p>
  			</div>
			</div>
		<%} else {%>
			<div class="navbar-header pull-right">
				<!--<span><a href="signIn.ejs" class="btn btn-link navbar-btn" id="signInBtn"></a></span>-->
			</div>
		<%}%>
    </div>
  </nav>
